@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(224, 199, 222);
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

header {
    margin-top: 45px;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

#content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#header-text {
    margin: 15px 0px;
    font-size: 70px;
}

:root {
    --grid-rows: 1;
    --grid-cols: 1;
    --grid-square-size: 1px;
}

#canvas {
    background-color: white;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), var(--grid-square-size));
    grid-template-columns: repeat(var(--grid-cols), var(--grid-square-size));
    border: 5px solid rgb(55, 55, 55);
    border-radius: 5px;
}

button {
    color: white;
    background-color: rgb(99, 45, 91);
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    min-width: 200px;
    width: 75%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

button:not(.btnToggled):hover {
    background-color: rgb(77, 34, 70);
    scale: 1.05;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    transition: .3s;
}

#content-left, #content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-size: 18px;
}

.btnToggled {
    background-color: white;
    color: black;
    transition: .3s;
}

.btnToggled:hover {
    scale: 1.05;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    transition: .3s;
}

#color-picker {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
}

#slider-container {
    display: flex;
    align-items: center;
}

/* Slider itself */
#slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
}

/* Slider handle */
#slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: black;
    cursor: pointer;
}