html, body {
    height: 100%;
    margin: 0;
}

#container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

#canvas {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 30px);
    grid-template-columns: repeat(var(--grid-cols), 30px);
    border: 1px solid black;
}

.grid-square {
    border: 1px solid black;
}